[project]
	description = hardware_motorola
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	abandon = group addison_dev
	deleteOwnChanges = group addison_dev
	editTopicName = group addison_dev
	forgeAuthor = group addison_dev
	forgeCommitter = group addison_dev
	forgeServerAsCommitter = group addison_dev
	label-Code-Review = -2..+2 group addison_dev
	label-Verified = -1..+1 group addison_dev
	push = +force group addison_dev
	pushMerge = group addison_dev
	rebase = group addison_dev
	revert = group addison_dev
	submit = group addison_dev
	toggleWipState = group addison_dev
	exclusiveGroupPermissions = push
